<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>TEST</title>
</head>
<body>
<% if (user !== null) { %>
<p>Hello <%= user.firstName %> <%= user.lastName %></p>
<% }%>
</body>
</html>